.menu
    
    .menuContext

    .menuBar
        img#logo(src="/images/icons/logo.png")
        img#menuIcon(src="/images/icons/menu.svg")
        .socialIcons
            img(src="/images/icons/instagram.svg")
            img(src="/images/icons/facebook 2.svg")
            img(src="/images/icons/google.svg")
            img(src="/images/icons/twitter1.svg")
            img(src="/images/icons/youtube.svg")