.menu
    
    .menuContext
        #cLogo     
            img(src="/images/icons/logo.png")
        a(href="/") Shop
        a(href="/about") About
        a(href="/contacts") Contacts
        #sIcons
            a(href="/") 
                img(src="/images/icons/instagram.svg")
            a(href="/")
                img(src="/images/icons/facebook 2.svg")
            a(href="/")    
                img(src="/images/icons/google.svg")
            a(href="/")    
                img(src="/images/icons/twitter1.svg")
            a(href="/")    
                img(src="/images/icons/youtube.svg")

    .menuBar
        img#logo(src="/images/icons/logo.png")
        img#menuIcon(src="/images/icons/menu.svg")
        .socialIcons
            img(src="/images/icons/instagram.svg")
            img(src="/images/icons/facebook 2.svg")
            img(src="/images/icons/google.svg")
            img(src="/images/icons/twitter1.svg")
            img(src="/images/icons/youtube.svg")