.shoeDetails
    img#cancel(src="/images/icons/cancel.svg") 

    h1#shoeName
    p#priceTag 

    .flexDiv
        #size
            p Size
            select(name="size")
                option 6
                option 6.5
                option 7
                option 7.5
                option 8
                option 8.5
                option 9
                option 9.5
                option 10
                option 10.5
                option 11
                option 11.5
                option 12
                option 13
                option 14
                option 15

        .amount
            p Quantity
            #amount    
                button#dec -
                p#no 1
                button#inc +

    button#addToBag #[b ADD TO BAG]    
