include includes/header.pug

link(rel="stylesheet", href="/stylesheets/about/about.css")

body
    .container
        .content
            include includes/menu.pug
            .about
                h1 About Us
                

            .aboutContent
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                  |Ex quasi consectetur, asperiores culpa minus ab nobis totam? 
                  |Expedita, laborum explicabo!#[br]#[br]

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  |Temporibus ad minima officiis molestiae veniam sequi quam 
                  |aspernatur, voluptates enim iste blanditiis rem illum hic sed, 
                  |debitis soluta, placeat quos ratione doloribus totam amet
                  | corporis saepe expedita quia! Labore pariatur, et soluta, 
                  |nesciunt nobis iure nostrum nihil, reprehenderit praesentium 
                  |quisquam maxime.  
            include includes/footer.pug
            include includes/shoppingBag.pug        

    script(src="/javascripts/about.js" type="module")          