include includes/header.pug

link(rel="stylesheet", href="/stylesheets/about/about.css")

body
    .container
        .content
            include includes/menu.pug
            div
            div
            include includes/footer.pug
            include includes/shoppingBag.pug        

    script(src="/javascripts/about.js" type="module")          