include includes/header.pug 

link(rel="stylesheet", href="/stylesheets/index/index.css")

body
    .container
        .content
            
            include includes/menu.pug

            .cover 
                .coverContent
                    img#coverPic
                    h3#coverPrice
                    p#coverName
                    span#hId(style="display:none;")
              
            .shoeBoxes
                #boxContent 
                    .box#box1
                    .box#box2
                    .box#box3
                    .box#box4

                .arrows
                    img#leftArrow(src="/images/icons/left-arrow.svg")
                    p #[sup 1]/#[sub 3]
                    img#rightArrow(src="/images/icons/right-arrow.svg")

                include includes/shoeDetails.pug    

            include includes/footer.pug
            include includes/shoppingBag.pug        

    script(src="/javascripts/index.js" type="module")            