* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* a {
  text-decoration: none;
}

.menu {
  position: relative;
  height: auto;
  width: 48vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 11;
  background: white;
}

@media screen and (max-width: 550px) {
  .menu {
    width: 96vw;
    height: calc(98vh * 95 / 100);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-95%);
            transform: translateY(-95%);
  }
  .menu .menuBar {
    height: calc(98vh * 5 / 100);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.showMenu {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.showMenu #logo {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
}

.showMenu .socialIcons {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.showMenu #sIcons {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.showMenu #cLogo img {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.menuBar {
  position: relative;
  padding: 2vh 0 2vh 0;
}

@media screen and (max-width: 550px) {
  .menuBar {
    padding: 0;
  }
}

#logo {
  width: 6vmin;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

@media screen and (max-width: 550px) {
  #logo {
    margin-left: 4vw;
    left: 0;
  }
}

#menuIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4vmin;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  #menuIcon {
    position: relative;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.socialIcons {
  position: relative;
  top: 68vh;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialIcons img {
  width: 2.5vmin;
  margin-bottom: 1vmin;
}

@media screen and (max-width: 550px) {
  .socialIcons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    height: auto;
    margin: 0;
  }
  .socialIcons img {
    margin: 0 1vw 0 0;
    width: 1.8vmax;
  }
}

.menuContext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

@media screen and (max-width: 550px) {
  .menuContext {
    height: 90vh;
  }
}

.menuContext a {
  font-size: 3vw;
  color: #050505;
  text-align: left;
  width: 50%;
  padding: 1vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menuContext a:hover {
  color: #afaeae;
}

@media screen and (max-width: 550px) {
  .menuContext a {
    font-size: 8vw;
    padding: 2.5vw;
    color: #414141;
  }
}

#sIcons {
  left: 1vw;
  position: absolute;
  bottom: 0.5vw;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

#sIcons img {
  width: 1.5vw;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 550px) {
  #sIcons {
    bottom: 12vw;
    left: 5%;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  #sIcons img {
    width: 2.5vmax;
  }
}

#cLogo img {
  width: 20vw;
  position: absolute;
  top: 5%;
  left: 45%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.footer {
  position: relative;
  background: white;
  z-index: 21;
}

.footer #shoppingBag {
  width: 2.5vw;
}

.footer #shoppingBag, #shpClose {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 550px) {
  .footer #shoppingBag, #shpClose {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 2.5vmax;
  }
}

#shpClose {
  width: 2vmax;
  -webkit-transform: translate(150%, -100%);
          transform: translate(150%, -100%);
  opacity: 0;
}

.shpToggle #shpClose {
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .shpToggle #shpClose {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.shpToggle #shoppingBag {
  -webkit-transform: translate(150%, -100%);
          transform: translate(150%, -100%);
  opacity: 0;
}

@media screen and (max-width: 550px) {
  .shpToggle #shoppingBag {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
}

.shpToggle #cartNo {
  opacity: 1;
  -webkit-transform: translate(-50%, -250%);
          transform: translate(-50%, -250%);
}

@media screen and (max-width: 550px) {
  .shpToggle #cartNo {
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
}

#cartNo {
  position: absolute;
  width: 2vw;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
  border-radius: 50%;
  background: #fc3131;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(10%, -160%);
          transform: translate(10%, -160%);
  font-size: 1vw;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

@media screen and (max-width: 550px) {
  #cartNo {
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
    width: 3vmax;
    height: 3vmax;
    font-size: 2vmax;
    line-height: 3vmax;
  }
}

.shoppingBag {
  position: absolute;
  right: 5%;
  width: calc(96vw * 45 / 100);
  height: 100%;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  background: #f3f3f5;
  z-index: 15;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10% 80% 10%;
      grid-template-rows: 10% 80% 10%;
}

.shoppingBag #cartNo {
  background: white;
  width: 3vw;
  position: absolute;
}

@media screen and (max-width: 550px) {
  .shoppingBag {
    width: 100%;
    height: 95%;
  }
}

.openBag {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

@media screen and (max-width: 550px) {
  .openBag {
    -webkit-transform: translate(5%);
            transform: translate(5%);
  }
}

.closeBag {
  -webkit-transform: translate(120%);
          transform: translate(120%);
}

@media screen and (max-width: 550px) {
  .closeBag {
    -webkit-transform: translate(120%);
            transform: translate(120%);
  }
}

.clearCart {
  position: relative;
  background: #030303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2vw 2vw 1.2vw 2vw;
}

.clearCart img {
  width: 3.5vmax;
}

.clearCart p {
  font-size: 1.2vmax;
  cursor: pointer;
  color: #fdfbfb;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.clearCart:hover p {
  color: red;
}

@media screen and (max-width: 550px) {
  .clearCart p {
    font-size: 2vmax;
  }
}

.checkout {
  position: relative;
  padding: 1.2vw 2vw 1.2vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vmax;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #0f0f0f;
  color: #636262;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checkout:hover {
  background: #1bf513;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .checkout {
    font-size: 2vmax;
  }
}

.shoppingItems {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.shoppingItems #shoePicS {
  width: 6vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.shoppingItems h2 {
  font-size: 1.4vw;
}

@media screen and (max-width: 550px) {
  .shoppingItems #shoePicS {
    width: 10vmax;
  }
  .shoppingItems h2 {
    font-size: 2.5vmax;
  }
}

#itemDiv {
  border-bottom: 1px solid #b3b3b3;
  padding: 1.2vw 2vw 1.2vw 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 550px) {
  #itemDiv {
    padding: 2vmax;
  }
}

#itemDiv #itemNames {
  padding-left: 3.5vw;
}

#itemDiv #itemNames p {
  font-size: 1.5vw;
  margin-top: 0.5vw;
}

@media screen and (max-width: 550px) {
  #itemDiv #itemNames {
    padding-left: 5vmax;
  }
  #itemDiv #itemNames p {
    font-size: 2.5vmax;
  }
}

#itemDiv #amountSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.8vw;
  margin-left: 3.5vw;
}

#itemDiv #amountSelect p {
  line-height: 2vw;
  padding: 0 1vw 0 1vw;
  font-size: 1.3vw;
}

#itemDiv #amountSelect select {
  margin-left: 1.5vw;
  border: 1px solid black;
  background: none;
  height: 2.2vw;
  font-size: 1.3vw;
}

@media screen and (max-width: 550px) {
  #itemDiv #amountSelect {
    margin-left: 5vmax;
    margin-top: 1.2vmax;
  }
  #itemDiv #amountSelect select {
    height: 3vmax;
    font-size: 2vmax;
    margin-left: 1.5vmax;
  }
}

#itemDiv #remove {
  width: 6.5vw;
  height: 2vw;
  font-size: 1vw;
  border: 1px solid black;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: black;
  color: white;
  letter-spacing: 0.2vw;
}

#itemDiv #remove:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 550px) {
  #itemDiv #remove {
    width: 8.5vmax;
    height: 3.5vmax;
    font-size: 1vw;
    border: 1px solid black;
    background: none;
    outline: none;
    cursor: pointer;
    background: black;
    color: white;
    font-size: 1.5vmax;
  }
}

#itemDiv #amount button {
  width: 2.2vw;
  height: 2.2vw;
  font-size: 1.5vw;
  border: 1px solid black;
  background: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  #itemDiv #amount button {
    width: 3vmax;
    height: 3vmax;
    font-size: 1.5vmax;
    border: 1px solid black;
    background: none;
    outline: none;
    cursor: pointer;
  }
}

#itemDiv #amount p {
  padding: 0vw 2vmin 0vw 2vmin;
  font-size: 2vmin;
}

@media screen and (max-width: 550px) {
  #itemDiv #amount p {
    font-size: 3vmin;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #ffc750;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  position: fixed;
  height: 92vh;
  width: 96vw;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 45% 45% 5%;
      grid-template-columns: 5% 45% 45% 5%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  .content {
    height: 98vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 5% 45% 45% 5%;
        grid-template-rows: 5% 45% 45% 5%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about h1 {
  font-size: 12vw;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .about h1 {
    font-size: 12vmax;
    padding: 0 2vmax 0 2vmax;
  }
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vw;
  background: #e9e9e9;
}

.aboutContent p {
  letter-spacing: 0.1vw;
  font-size: 1.2vw;
  word-spacing: 0.5vw;
  line-height: 2vw;
}

@media screen and (max-width: 550px) {
  .aboutContent p {
    letter-spacing: 0.1vmax;
    font-size: 2vmax;
    word-spacing: 0.5vw;
    line-height: 2.5vmax;
    padding: 0 1vmax 0 1vmax;
  }
}
/*# sourceMappingURL=about.css.map */