@import "../partials/main";
@import "../partials/menu";
@import "../partials/footer";
@import "../partials/shoppingBag";

@include main();
.contact {
  //border: 1px solid red;
  @include centerDivs();
  flex-direction: column;
  background: rgb(243, 243, 243);
  h1 {
    margin-bottom: 2vw;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    @include media(550px) {
      font-size: 4vmax;
    }
  }
  input,
  textarea {
    width: 60%;
    padding: 0.5vmax;
    margin-bottom: 2vw;
    border-radius: 0.5vw;
    border: 1px solid rgb(177, 177, 177);
    font-size: 1vw;
    outline: none;
    color: rgb(255, 0, 98);
    transition: 0.5s;

    &:focus {
      border: 1px solid rgb(233, 35, 134);
    }
    &::placeholder {
      color: rgb(184, 184, 184);
    }
    @include media(550px) {
      font-size: 1.5vmax;
    }
  }

  textarea {
    height: 10vw;
    resize: none;
    @include media(550px) {
      width: 50%;
      height: 15vmax;
    }
  }
  input {
    height: 3.5vw;
    @include media(550px) {
      width: 50%;
      height: 4vmax;
    }
  }
  #submit {
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border: none;
  }
}

.address {
  //border: 1px solid blue;
  //background: black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  #addContent {
    background: black;
    // border-radius: 0 2vw 0 0;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    div {
      padding-left: 4vw;
    }
    h4 {
      font-size: 1.2vw;
      margin-bottom: 1vw;
      color: rgb(255, 0, 98);
    }
    p {
      font-size: 1vw;
      color: rgb(180, 180, 180);
    }
    @include media(550px) {
      div {
        padding-left: 4vmax;
      }
      h4 {
        font-size: 1.8vmax;
      }
      p {
        font-size: 1.5vmax;
      }
    }
  }
}

#addPic {
  justify-self: center;
  align-self: center;

  img {
    width: 20vw;
    @include media(550px) {
      width: 25vmax;
    }
  }
}
