.footer {
  position: relative;
  //border: 1px solid rgb(66, 65, 65);
  background: rgb(255, 255, 255);
  z-index: 21;
  #shoppingBag {
    @extend %iconStyles;
    width: 2.5vw;
  }
}

%iconStyles {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -100%);
  z-index: 21;
  transition: 0.5s;
}

#shpClose {
  @extend %iconStyles;
  width: 2vw;
  transform: translate(150%, -100%);
  opacity: 0;
}

.shpToggle {
  #shpClose {
    transform: translate(-50%, -100%);
    opacity: 1;
  }
  #shoppingBag {
    transform: translate(150%, -100%);
    opacity: 0;
  }
  #cartNo {
    opacity: 0;
  }
  //background: red;
}

#cartNo {
  position: absolute;
  //border: 1px solid red;
  width: 2.5vw;
  height: 2.5vw;
  text-align: center;
  line-height: 2.5vw;
  border-radius: 50%;
  background: rgb(255, 3, 121);
  color: white;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -165%);
  font-size: 1.2vw;
  display: none;
  transition: 0.5s;
}
