* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  user-select: none;
  a {
    text-decoration: none;
  }
}

@mixin centerDivs() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin btnStyles($width, $height, $borderSize, $borderClr, $font) {
  width: $width;
  height: $height;
  font-size: $font;
  border: $borderSize solid $borderClr;
  background: none;
  outline: none;
  cursor: pointer;
}

@mixin main() {
  .container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    //border: 1px solid red;
    background: #ffc750;
    //padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    position: fixed;
    // border: 2px solid rgb(0, 0, 0);
    height: 92vh;
    width: 96vw;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 100%;
    overflow: hidden;
    //box-shadow: 5px 5px 1rem 1px rgb(255, 252, 163);

    @media screen and (max-width: 550px) {
      //border: 1px solid red;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 5% 45% 45% 5%;

      .menu {
        //border: 1px solid green;
      }
      .footer {
        // border: 1px solid navy;
      }
      .cover {
        // border: 1px solid hotpink;
      }
      .shoeBoxes {
        //border: 1px solid mediumslateblue;
      }
    }
  }
}
