.menu {
  position: relative;
  height: auto;
  width: 48vw;
  //border: 1px solid rgb(43, 255, 0);
  display: grid;
  grid-template-columns: 90% 10%;
  transform: translateX(-90%);
  transition: 0.5s;
  z-index: 11;
  background: white;
  @include media(550px) {
    width: 96vw;
    height: calc(98vh * 95 / 100);
    display: flex;
    flex-direction: column;
    //grid-template-columns: 100%;
    //grid-temlplate-rows: 90% 10%;
    // border: 2px solid rgb(9, 255, 0);
    transform: translateY(-95%);
    .menuBar {
      // background: mediumaquamarine;
      //  border: 1px solid blueviolet;
      height: calc(98vh * 5 / 100);
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }
}

.showMenu {
  transform: translate(0);
  #logo {
    transform: translateY(-200%);
    opacity: 0;
  }
  .socialIcons {
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
  #sIcons {
    transform: translate(0%);
  }
  #cLogo {
    img {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.menuBar {
  position: relative;
  //border: 1px solid red;
  //background: red;
  padding: 2vh 0 2vh 0;

  @include media(550px) {
    //display: flex;
    padding: 0;
  }
}

#logo {
  width: 6vmin;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 1.5s;
  //border: 1px solid red;
  @include media(550px) {
    margin-left: 4vw;
    left: 0;
  }
}

#menuIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4vmin;
  transform: translate(-50%, -100%);
  cursor: pointer;
  @include media(550px) {
    position: relative;
    top: 0;
    transform: translate(-50%, 0);
  }
}

.socialIcons {
  position: relative;
  top: 68vh;
  transition: 1s;
  //border: 1px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 2.5vmin;
    margin-bottom: 1vmin;
  }
  @include media(550px) {
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    height: auto;
    margin: 0;
    img {
      margin: 0 1vw 0 0;
      width: 1.8vmax;
    }
  }
}

.menuContext {
  // border: 1px solid red;
  @include centerDivs();
  flex-direction: column;
  background: rgb(255, 255, 255);
  //height: 50vh;
  @include media(550px) {
    height: 90vh;
  }
  a {
    font-size: 3vw;
    color: rgb(5, 5, 5);
    text-align: left;
    width: 50%;
    padding: 1vw;
    transition: 0.5s;
    &:hover {
      color: rgb(175, 174, 174);
      //mix-blend-mode: overlay;
    }
    @include media(550px) {
      font-size: 8vw;
      //text-align: center;
      padding: 2.5vw;
      color: rgb(65, 65, 65);
    }
  }
}

#sIcons {
  //position: relative;
  //top: 0;
  // border: 1px solid red;
  left: 1vw;
  position: absolute;
  bottom: 0.5vw;
  transform: translate(-100%);
  img {
    width: 1.5vw;
    padding: 0;
    margin: 0;
  }
  transition: 1s;
  @include media(550px) {
    bottom: 12vw;
    left: 5%;
    transform: translate(100%);
    img {
      width: 2.5vmax;
    }
  }
}

#cLogo {
  img {
    width: 20vw;
    position: absolute;
    top: 5%;
    left: 45%;
    opacity: 0;
    transition: 1s;
    transform: translate(-100%);
    // border: 1px solid red;
  }
}
