.shoppingBag {
  position: absolute;
  right: 5%;
  width: calc(96vw * 45 / 100);
  height: 100%;
  transform: translateX(120%);
  background: #f3f3f5;
  z-index: 15;
  transition: 0.5s;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  #cartNo {
    background: white;
    width: 3vw;
    position: absolute;
  }
  @include media(550px) {
    width: 100%;
    height: 95%;
  }
}

.clearCart {
  position: relative;
  //border: 1px solid red;
  background: #030303;
  @include centerDivs();
  justify-content: space-between;
  padding: 1.2vw 2vw 1.2vw 2vw;
  img {
    width: 2.5vw;
  }
  p {
    font-size: 1.2vw;
    cursor: pointer;
    color: rgb(253, 251, 251);
    font-weight: bold;
    transition: 0.2s;
  }
  &:hover {
    p {
      color: rgb(255, 0, 0);
    }
  }
}

.checkout {
  position: relative;
  padding: 1.2vw 2vw 1.2vw 2vw;
  //border: 1px solid red;
  @include centerDivs();
  font-size: 1.2vw;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(15, 15, 15);
  color: rgb(99, 98, 98);
  transition: 0.2s;
  &:hover {
    background: rgb(27, 245, 19);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}

.shoppingItems {
  #shoePicS {
    width: 6vw;
    transform: rotate(45deg);
    // border: 1px solid mediumblue;
  }
  h2 {
    font-size: 1.4vw;
    //font-weight: 100;
  }
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#itemDiv {
  border-bottom: 1px solid rgb(179, 179, 179);
  padding: 1.2vw 2vw 1.2vw 2vw;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  transition: 0.5s;

  #itemNames {
    padding-left: 3.5vw;
    p {
      font-size: 1.5vw;
      margin-top: 0.5vw;
    }
  }

  #amountSelect {
    display: flex;
    margin-top: 0.8vw;
    margin-left: 3.5vw;
    p {
      line-height: 2vw;
      padding: 0 1vw 0 1vw;
      font-size: 1.3vw;
    }
    select {
      margin-left: 1.5vw;
      border: 1px solid black;
      background: none;
      height: 2.2vw;
      font-size: 1.3vw;
    }
  }

  #remove {
    @include btnStyles(6.5vw, 2vw, 1px, rgb(0, 0, 0), 1vw);
    transform: rotate(90deg);
    transition: 0.2s;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    letter-spacing: 0.2vw;
    &:hover {
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  }

  #amount {
    button {
      @include btnStyles(2.2vw, 2.2vw, 1px, black, 1.5vw);
    }
  }
}
