.shoeDetails {
  //border: 1px solid red;
  width: calc(96vw * 45 / 100);
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 5%;
  background: #f3f3f5;
  transition: 0.5s;
  @include centerDivs();
  flex-direction: column;
  padding: 4vw;
  transform: translate(-120%);
  h1 {
    margin-bottom: 2vw;
    text-align: center;
    font-size: 4vw;
  }
  p {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 4vw;
  }
  @include media(550px) {
    width: 100%;
    height: 45%;
    transform: translate(-120%, 110%);
    h1 {
      font-size: 4.5vmax;
    }
    p {
      font-size: 3.5vmax;
    }
  }
}

.openDetails {
  transform: translate(100%);
  @include media(550px) {
    transform: translate(-5%, 110%);
  }
}

.closeDetails {
  transform: translate(-120%);
  @include media(550px) {
    transform: translate(-120%, 110%);
    //border: 1px solid red;
  }
}

#cancel {
  width: 4vmin;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1vw;
  cursor: pointer;
}

.flexDiv {
  display: flex;
  // border: 1px solid red;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 5vw;
  p {
    margin-bottom: 0.5vw;
    font-size: 1.5vw;
  }
  select {
    background: none;
    color: black;
    border: 1px solid black;
    //appearance: none;
    height: 4vw;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
  }
  @include media(550px) {
    width: 50%;
    select {
      height: 4.5vmax;
      font-size: 1.5vmax;
    }
    p {
      font-size: 1.2vmax;
    }
  }
}

#amount {
  display: flex;
  align-items: center;
  // width: 50%;
  // border: 1px solid black;
  p {
    // line-height: 5vmin;
    padding: 1vw 1vw 0.5vw 1vw;
    // border: 1px solid black;
  }
  button {
    @include btnStyles(4vw, 4vw, 1px, rgb(0, 0, 0), 4vmin);
    background: none;
    color: rgb(0, 0, 0);
  }

  @include media(550px) {
    button {
      @include btnStyles(4.5vmax, 4.5vmax, 1px, rgb(0, 0, 0), 4vmin);
    }
    p {
      font-size: 1.5vmax;
      padding: 1vmax 1vmax 0.5vmax 1vmax;
    }
  }
}

#addToBag {
  @include btnStyles(80%, 4vw, 1px, rgb(0, 0, 0), 2.5vmin);
  padding: 1vw 2vw 1vw 2vw;
  transition: 0.5s;
  background: none;
  color: rgb(0, 0, 0);
  &:hover {
    background: black;
    color: rgb(255, 255, 255);
  }
  @include media(550px) {
    @include btnStyles(50%, 4.5vmax, 1px, rgb(0, 0, 0), 2vmax);
    line-height: 2vmax;
  }
}
